*{
    margin: 0;
    padding: 0;
}

header{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    height: 5vh;
    width: 100%;
    flex-direction: column;
    background-color: black;
    border-bottom: 0.5vh solid var(--verdeMPF);
}

header img{
    height: 75%;
    position: absolute;
}

@media (max-width: 600px){
    header{
        height: auto;
        min-height: 8vh;
        padding: 1vh 0;
    }

    header img{
        position: static;
        height: 28px;
    }
}